ul#strengthBar {  
    display:block;  
    list-style:none;  
    margin:0;   
    padding:0;   
}  

.point:last {  
    margin:0 !important;  
}  

.point {  
    background:#DDD;  
    border-radius:2px;  
    display:inline-block;  
    height:3px;  
    width: calc(20% - 4px);
}  

.mg-right-2 {
    margin-right: 2px;
}

.mg-left-2 {
    margin-left: 2px;
}