<div id="strength" #strength>
  <div id="strengthBar">
    <div class="point mg-right-2" [style.background-color]="bars[0]"></div>
    <div class="point mg-right-2 mg-left-2" [style.background-color]="bars[1]"></div>
    <div class="point mg-right-2 mg-left-2" [style.background-color]="bars[2]"></div>
    <div class="point mg-right-2 mg-left-2" [style.background-color]="bars[3]"></div>
    <div class="point mg-left-2" [style.background-color]="bars[4]"></div>
  </div>
  <small [innerHtml]="barLabel"></small>
</div>