<app-modal title="Recuperar senha">
  <form #modalBody action="">
    <div class="row">
      <div class="input-group" style="width: 100%;">
        <label>CPF</label>
        <input mask="000.000.000-009" [(ngModel)]="cpf" id="cpf" name="cpf" type="text">
      </div>

      <div class="input-group" style="width: 100%;">
        <label>Data de nascimento</label>
        <input [(ngModel)]="nascimento" id="nascimento" name="nascimento" type="date">
      </div>
      <!-- <app-input style="width: 100%;" id="cpf" inputType="text" placeholder="CPF" /> -->
      <!-- <app-input style="width: 100%;" id="nascimento" inputType="date" placeholder="Data de nascimento" /> -->
    </div>

    <div class="row">
      <div class="input-group" style="width: 100%;">
        <label>E-mail</label>
        <input [(ngModel)]="email" id="email" name="email" type="email">
      </div>
      <!-- <app-input style="width: 100%;" id="email" inputType="email" placeholder="E-mail de cadastro" /> -->
    </div>

    <div class="row botoes">
      <app-button name="Recuperar senha" />
      <app-button name="Cancelar" />
    </div>
  </form>
</app-modal>