button {
  min-width: 200px;
  min-height: 50px;
  padding: 10px;
  border-radius: 45px;
  border: none;

  transition: .2s;

  cursor: pointer;

  &.normal {
    background-color: #0296FF;
    color: #FFF;
  }

  &.decline {
    background-color: #fff;
    color: #E24534;
    border: 2px solid #E24534;

    &:hover {
      background-color: #E24534;
      color: #fff;
    }
  }

  font-family: Nunito;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    margin-left: 10px;
  }
}